<div class="row">
  <div class="col-sm-8">
    <%= render partial: "posts/list", locals: { posts: @posts } %>
  </div>
  <div class="col-sm-4">
    <p class="h4 text-center"><strong><%= @profile.full_name %></strong></p>
    <p class="h4 text-center"><strong>(<%= @profile.username %>)</strong></p>
    <p><%= simple_format @profile.bio %></p>
    <p><strong>Cake Day:</strong> <%= @profile.created_at.strftime("%d/%m/%Y") %></p>
  </div>
</div>
