<header class="container">
  <div class="row">
    <div class="col-12 pt-3">
      <div class="float-end">
        <% if account_signed_in? %>
          <div class="dropdown">
            <a class="btn btn-outline-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              <% if current_account.full_name.blank? %>
                <%= current_account.username %>
              <% else %>
                <%= current_account.full_name %>
              <% end %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><%= link_to "Profile", profile_path(current_account.username), class: "dropdown-item" %></li>
              <li><%= link_to "Settings", edit_account_registration_path, class: "dropdown-item" %></li>
              <li><%= button_to "Sign Out", destroy_account_session_path, method: :delete, class: "dropdown-item" %></li>
            </ul>
          </div>
        <% else %>
          <%= link_to "Log In", new_account_session_path, class: "btn btn-outline-primary" %>
          <%= link_to "Sign Up", new_account_registration_path, class: "btn btn-primary" %>
        <% end %>
      </div>
      <h1><%= link_to "Reddit Clone", root_path, class: "h3 text-decoration-none link-dark" %></h1>
    </div>
  </div>
</header>
